@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #EDF5E1; 
    font-family: 'Montserrat', sans-serif;
    color: #05386B;
    
    
}
#contenedor{
    width: 900px;
    height: 500px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
}
#espacio {
    background-color: #5CDB95;
    border-radius: 50px 0px 0px 50px;
    text-align: center;
    color: #05386B;
    float: left;
    width: 50%;
    height: 100%;

}
#calculadora{
    background: rgba(158, 196, 98, 0);
    width: 100%;
    height: 100%;
    float: left;
}

#detalle{
    background: #05386B;
    border-radius: 0px 50px 50px 0px;
    width: 50%;
    height: 100%;
    float: left;
    color: #5CDB95;
}
.contenido{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 50px;
}
input {
	width: 70%;
    padding: 12px 15px;
    border: 5px solid #05386B;
    background-color: #EDF5E1;
    border-radius: 50px;
}

button {
  font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 50px;
	background-color: #05386B;
	border: 3px solid #05386B;
	color: #5CDB95;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 30ms ease-in;
}

button:active {
	transform: scale(0.90);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #05386B;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
